# Adafruit_DHT  #https://github.com/adafruit/Adafruit_Python_DHT
adafruit-circuitpython-dht #https://learn.adafruit.com/dht-humidity-sensing-on-raspberry-pi-with-gdocs-logging/python-setup
board
ruamel.yaml
# smtplib #standard
# email.mime.text #standard
# random #standard